APP_PORT=3000
DB_HOST=db
DB_PORT=5432
DB_USER=denovonomo
DB_PASSWORD=changeme
DB_NAME=denovonomo
SESSION_SECRET=changeme
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=changeme
NODE_ENV=production
APP_URL=http://localhost:3000

# These are used by docker-compose for PostgreSQL container
POSTGRES_USER=denovonomo
POSTGRES_PASSWORD=changeme
POSTGRES_DB=denovonomo
